!!!
%html

%head
	%title Mostipograf
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body.space-top

#preloader
	#spinner

= render 'layouts/navigation'


= yield

= javascript_include_tag 'application', 'data-turbolinks-track' => true
